.badgeLabel {
  text-transform: capitalize;
  font-size: var(--mantine-font-size-xs);

  @mixin larger-than $mantine-breakpoint-md {
    font-size: var(--mantine-font-size-sm);
  }
}

.badgeRoot {
  border-radius: var(--mantine-radius-md);
}
