.title {
  text-transform: capitalize;
  font-size: var(--mantine-font-size-sm);
}

.paperContainer {
  padding: var(--mantine-spacing-sm);
  width: 100%;
  transition: box-shadow 0.25s;
  cursor: pointer;

  p,
  div {
    user-select: none;
    cursor: pointer;
  }

  &:hover {
    box-shadow: var(--mantine-shadow-sm);
  }
}
