.badgeLabel {
  font-size: var(--mantine-font-size-xs);
  text-transform: capitalize;

  @mixin larger-than $mantine-breakpoint-md {
    font-size: var(--mantine-font-size-sm);
  }
}

.badgeRoot {
  border-radius: var(--mantine-radius-md);
}
