.dropdown {
  border: solid 2px var(--mantine-color-red-2) !important;
  border-top: 0px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  width: 160px !important;
}
