.accordionRoot {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--mantine-spacing-md);
}

.accordionItem {
  height: fit-content;
  border-block: 1px solid var(--mantine-color-gray-2);

  &:nth-child(n + 1) {
    border-bottom: none;
  }

  &:nth-last-child(-n + 2) {
    border-bottom: 1px solid var(--mantine-color-gray-2);
  }
}

/* .accordionContent {
  border-inline: 1px solid var(--mantine-color-gray-2);
} */

.previewTitleContainer {
  background-color: var(--mantine-color-yellow-1);
  border: 1px solid var(--mantine-color-yellow-7);
  padding: var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  justify-content: space-between;
}

.previewTitle {
  text-transform: capitalize;
}
