@import 'tailwindcss';

@font-face {
  font-family: montserrat;
  font-weight: 100 900;
  font-display: swap;
  src:
    local('Montserrat'),
    local('Montserrat-VariableFont_wght'),
    url('./assets/font/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: Montserrat, sans-serif;
}

::selection {
  background-color: var(--mantine-color-yellow-6) !important;
  color: var(--mantine-color-dark-7) !important;
}
