@import 'tailwindcss';

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('./assets/font/Montserrat-VariableFont_wght.ttf') format('truetype-variations');
}

body {
  font-family: Montserrat, sans-serif;
}

::selection {
  background-color: var(--mantine-color-yellow-6) !important;
  color: var(--mantine-color-dark-7) !important;
}

.error-line-highlight {
  background-color: rgb(255, 0, 0, 0.08);
  border-bottom: 2px wavy var(--mantine-color-red-6);
}

.error-block {
  outline: 1px solid rgb(255, 0, 0, 0.2);
  outline-offset: 2px;
  border-radius: 4px;
}
